
$fa-font-path:"../font/fontawesome-free";

$colorPrimaire:#9356DC;
$colorSecondaire:#FF79DA;
$colorTertiaire:#99E2D0;
$colorDarkInk:#535353;
$colorDarkBackground:#353535;

$colorBackGround:#f6f6f6;
$colorBackGroundDark:#ebebeb;

$colorLabel:#0c664d;
$colorLabelBackground:#99e2c9;

$colorButton:#f6f6f6;
$colorButtonShadow:#e7e7e7;

$colorButtonDark:#f5ecff;
$colorButtonShadowDark:#e5e5e5;

