
.wrapHeader {
    width: 100%;
    padding: 0;
    &__layoutHeader {
        width: 100%;
        padding:5vw 3vw 3vw 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            display: block;
            position: absolute;
            left:5vw;
        }
        img {
            height:8vw;
        }
    }
}
