
.wrapHeader {
    width: 100%;
    padding: 0;
    &__layoutHeader {
        width: 100%;
        margin-top:5vw;
        margin-bottom:3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        >a  {
            display: inline-block;
            position: absolute;
            vertical-align: bottom;
            left:5vw;
            @include desktop {
                .text1 {
                    font-size: 5vw;
                }
            }
        }
        >img {
            height:8vw;
        }
    }
}
