
.wrapHeader {
    width: 100%;
    padding: 0;
    &__layoutHeader {
        width: 100%;
        padding:5vw 3vw 3vw 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        >a  {
            display: inline-block;
            position: absolute;
            vertical-align: bottom;
            left:5vw;
            @include desktop {
                .text1 {
                    font-size: 5vw;
                }
            }
        }
        >img {
            height:8vw;
        }
    }
}
